---
layout: compress
---

{% include _global/document_head.html %}

    {% include _global/header.html %}

    <main>
        <section>
            
            <div class="row">
				<div class="col s12 m6 l3">
					
					<div class="grid-content adtitle center-align teal lighten-2">
						<h5>Andrew Dobson</h5>
						<h6>Digital technologist</h6>
						<p>
							<i class="fas fa-at fa-2x"></i>
							<i class="fab fa-twitter-square fa-2x"></i>
							<i class="fab fa-medium fa-2x"></i>
						</p>
					</div>
				
				</div>
				<div class="col s12 m6 l3">
					<div class="grid-content">
						<img class="responsive-img" src="/assets/images/portfolio/andy.jpg">
					</div>
				</div>
				<div class="col s12 m12 l6">
					<div class="grid-content adabout teal lighten-2">
						<h5> About</h5>
						<p>I am a versatile and creatively-minded digital technologist who has been working with
						digital ecosystems for over twenty years. A passionate advocate for both the art and
						science of being digital, I am a champion for the creative application of technology,
						with an enviable record in building and retaining teams and setting culture through a
						philosophical approach to technical challenges.</p>
						
					</div>
				</div>
            </div>

            <div class="row">
				<div class="col s12 m6 l3">
					<div class="grid-content title-tile center-align light-green lighten-2 valign-wrapper">
						<h4>Work</h4>
					</div>
				</div>
				<div class="col s12 m6 l3">
					<div class="grid-content">
						<img class="responsive-img" src="/assets/images/portfolio/zigbee.jpg">
					</div>
				</div>
				<div class="col s12 m6 l3">
					<div class="grid-content">
						<img class="responsive-img" src="/assets/images/portfolio/et.jpg">
					</div>
				</div>
				<div class="col s12 m6 l3">
					<div class="grid-content">
						<img class="responsive-img" src="/assets/images/portfolio/burgess.jpg">
					</div>
				</div>
            </div>



        </section>
    </main>

    {% include _global/footer.html %}

{% include _global/document_foot.html %}
