---
layout: home
---

{% include _global/document_head.html %}

    {% include _global/header.html %}

    <main>
       
       <section class="project-grid-wrapper">
			
			<div class="project-grid-item adinfo">
				<div class="grid-content">
					<h5>Andrew Dobson</h5>
					<h6>Digital technologist</h6>
				</div>

			</div>


			<div class="project-grid-item">
				<img class="responsive-img" src="/assets/images/test.jpg">
			</div>
			
			<div class="project-grid-item adabout">
				<div class="grid-content">
				<h5> About</h5>
				<p>Andrew Dobson is a creative digital technologist</p>
				</div>
			</div>
			
			<div class="project-grid-item">
				<img class="responsive-img" src="/assets/images/test.jpg">
			</div>

			<div class="project-grid-item">
				<img class="responsive-img" src="/assets/images/test.jpg">
			</div>

			<div class="project-grid-item">
				<img class="responsive-img" src="/assets/images/test.jpg">
			</div>

			<div class="project-grid-item">
				<img class="responsive-img" src="/assets/images/test.jpg">
			</div>

			<div class="project-grid-item">
				<img class="responsive-img" src="/assets/images/test.jpg">
			</div>

			<div class="project-grid-item">
				<img class="responsive-img" src="/assets/images/test.jpg">
			</div>

			<div class="project-grid-item">
				<img class="responsive-img" src="/assets/images/test.jpg">
			</div>

			<div class="project-grid-item">
				<img class="responsive-img" src="/assets/images/test.jpg">
			</div>

			<div class="project-grid-item">
				<img class="responsive-img" src="/assets/images/test.jpg">
			</div>

			<div class="project-grid-item">
				<img class="responsive-img" src="/assets/images/test.jpg">
			</div>

			<div class="project-grid-item">
				<img class="responsive-img" src="/assets/images/test.jpg">
			</div>

			<div class="project-grid-item">
				<img class="responsive-img" src="/assets/images/test.jpg">
			</div>


       </section>

    </main>

    {% include _global/footer.html %}

{% include _global/document_foot.html %}
